name: Build PR Preview Image
on:
    pull_request:
        types: [opened, synchronize, reopened]
jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            attestations: write
            id-token: write
        steps:
            - name: Check out the repo
              uses: actions/checkout@v5
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}
            - name: Build and Push
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  tags: barnettet31/react-preview:pr-${{ github.event.pull_request.number }}
                  platforms: linux/amd64,linux/arm64
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
                  build-args: |
                      VITE_PR_NUMBER=${{github.event.pull_request.number}}
